@model IEnumerable<censusapp.Models.Family>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parents[0].FamilyName)
            </th>
            <th>
                Child Name
            </th>
            <th>
                Child Gender
            </th>
            <th>
                Child Grade
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOrigin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parents[0].FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children[0].FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children[0].Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children[0].Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOrigin)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
}
    </tbody>
</table>
